<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="selectHrMngList" resultType="HrMntList">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
				FROM (
					SELECT EMP_NO,EMP_NAME, D.DEPT_NAME, J.JOB_NAME,
				        (SELECT COUNT(*) FROM LATE_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) late_count,
				        (SELECT COUNT(*) FROM LEAVE_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) leave_count,
				        (SELECT COUNT(*) FROM ABSENT_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) absent_count
					FROM EMP_TB E 
					    LEFT JOIN DEPT_TB D
					        USING (DEPT_CD)
					    LEFT JOIN JOB_TB J
					        USING (JOB_CD)
			
					<if test="searchBy != null and searchBy != ''">
					WHERE
						${searchBy} IN #{keyword}
					ORDER BY DEPT_CD
					</if>
					<if test="empNo != null and empNo != ''">
					WHERE 
						EMP_NO = #{empNo}
					</if>
				) A
						)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="empLog" resultType="HrMntList">
		SELECT EMP_NO,EMP_NAME, D.DEPT_NAME, J.JOB_NAME,
				        (SELECT COUNT(*) FROM LATE_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) late_count,
				        (SELECT COUNT(*) FROM LEAVE_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) leave_count,
				        (SELECT COUNT(*) FROM ABSENT_TB WHERE TAKEN BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD') AND E.EMP_NO = EMP_NO) absent_count
		FROM EMP_TB E 
		    LEFT JOIN DEPT_TB D
		        USING (DEPT_CD)
		    LEFT JOIN JOB_TB J
		        USING (JOB_CD)
		WHERE 
			EMP_NO = #{empNo}
	</select>
	
	
	<!-- 총 근태 객수 출력  -->
	<select id="countEmpLog" resultType="int">
		SELECT COUNT(*) 
		FROM EMP_TB E 
		    LEFT JOIN DEPT_TB D
		        USING (DEPT_CD)
		    LEFT JOIN JOB_TB J
		        USING (JOB_CD)
		<if test="searchBy != null and searchBy != ''">
		WHERE
			${searchBy} IN #{keyword}
		ORDER BY DEPT_CD
		</if>
	</select>
	
	<!-- 총 로그 갯수 출력 -->
	<select id="countIOLog" resultType="int">
		SELECT COUNT(*) 
		FROM LOG_TB L LEFT JOIN EMP_TB E
		USING (EMP_NO)
		WHERE 
		<choose>
			<when test = "srcDateStart != srcDateEnd">
				TO_CHAR(TAKEN,'YYYY-MM-DD') BETWEEN TO_CHAR(TO_DATE(#{srcDateStart},'YYYY-MM-DD'),'YYYY-MM-DD') AND TO_CHAR(TO_DATE(#{srcDateEnd},'YYYY-MM-DD'),'YYYY-MM-DD')
			</when>
			<otherwise>
				TO_CHAR(TAKEN,'YYYY-MM-DD') IN TO_CHAR(TO_DATE(#{srcDateStart},'YYYY-MM-DD'),'YYYY-MM-DD')
			</otherwise>
		</choose>
			<if test = "searchBy != null and searchBy != ''">
				AND	${searchBy} IN #{keyword}
			</if>
	</select>
	
	<select id="selectIOLog" resultType="IOLog">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
				FROM (
					SELECT L.TAKEN, L.INOUT_FG, E.EMP_NAME 
					FROM LOG_TB L LEFT JOIN EMP_TB E
					USING (EMP_NO)
					WHERE
						<choose>
							<when test = "srcDateStart != srcDateEnd">
								TO_CHAR(TAKEN,'YYYY-MM-DD') BETWEEN TO_CHAR(TO_DATE(#{srcDateStart},'YYYY-MM-DD'),'YYYY-MM-DD') AND TO_CHAR(TO_DATE(#{srcDateEnd},'YYYY-MM-DD'),'YYYY-MM-DD')
							</when>
							<otherwise>
								TO_CHAR(TAKEN,'YYYY-MM-DD') IN TO_CHAR(TO_DATE(#{srcDateStart},'YYYY-MM-DD'),'YYYY-MM-DD')
							</otherwise>
						</choose>
						<if test = "searchBy != null and searchBy != ''">
							AND	${searchBy} IN #{keyword}
						</if>
					ORDER BY TAKEN DESC
				) A
			)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 워크타임스 사원별 날짜별 카운트  -->
	<select id="countOneEmpLog" resultType="int">
		SELECT COUNT(*)
		FROM WORK_TIMES_TB
		WHERE 
			WORK_DAY BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD')
			AND EMP_NO = #{empNo}
		ORDER BY WORK_DAY
	</select>
	
	<select id="selectEmpLog" resultType="WorkTimes">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
				FROM (
					SELECT *
					FROM WORK_TIMES_TB
					WHERE
						WORK_DAY BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD')
						AND EMP_NO = #{empNo}
					ORDER BY WORK_DAY
		) A
			)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectVacationCount" resultType="Vacation">
		SELECT EMP_NO, VCTN_DTL_NO, VCTN_STDT, VCTN_ENDT
		FROM EMP_TB LEFT JOIN VCTN_HIS_TB
		USING (EMP_NO)
		WHERE VCTN_STDT BETWEEN TO_DATE(#{srcDateStart},'YYYY-MM-DD') AND TO_DATE(#{srcDateEnd},'YYYY-MM-DD')
		<if test="empNo">
		AND EMP_NO = #{empNo}
		</if>
	</select>
	
	<select id="countOrgChart" resultType="int">
		SELECT count(*)
		FROM EMP_TB E 
		    LEFT JOIN DEPT_TB D
		        USING (DEPT_CD)
		    LEFT JOIN JOB_TB J
		        USING (JOB_CD)
		<if test="searchBy != null and searchBy != ''">
		WHERE
			${searchBy} IN #{keyword}
		</if>
		ORDER BY DEPT_CD
	</select>
	
	
	<select id="orgChart" resultType="OrgChart">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
				FROM (
					SELECT EMP_NO, USER_ID, EMP_NAME, D.DEPT_NAME, J.JOB_NAME
					FROM EMP_TB E 
					    LEFT JOIN DEPT_TB D
					        USING (DEPT_CD)
					    LEFT JOIN JOB_TB J
					        USING (JOB_CD)
					<if test="searchBy != null and searchBy != ''">
					WHERE
						${searchBy} IN #{keyword}
					</if>
					ORDER BY DEPT_CD
				) A
			)
			WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="empInfo" resultType="OrgChart">
		SELECT * 
		FROM 
			EMP_TB E LEFT JOIN DEPT_TB D
			USING (DEPT_CD)
			LEFT JOIN JOB_TB J
			USING (JOB_CD) 
		WHERE 
			EMP_NO = #{EMP_NO}
		
	</select>
	
	<select id="logIn" resultType="OrgChart">
		SELECT * 
		FROM 
			EMP_TB E LEFT JOIN DEPT_TB D
			USING (DEPT_CD)
			LEFT JOIN JOB_TB J
			USING (JOB_CD)
		WHERE 
			USER_ID = #{userId}
	</select>
	
	<insert id="loginLog">
		INSERT INTO LOG_TB VALUES(
			#{empNo}
			,SYSDATE
			,'I'
		) 
	</insert> 
	<insert id="logoutLog">
		INSERT INTO LOG_TB VALUES(
			#{empNo}
			,SYSDATE
			,'O'
		) 
	</insert> 
	
	<insert id="isLate" statementType="CALLABLE">
	{
		call PROC_INSERT_LATE_TB(#{empNo})
	}
	</insert>
	
	
	<update id="updateEmp">
		UPDATE EMP_TB 
		SET 
			EMP_EMAIL = #{empEmail}, EMP_CONTACT = #{empContact}
			, EMP_ADDRESS = #{empAddress} , EMP_MSG = #{empMsg}
			<if test="empImage != null and empImage != ''">
			, EMP_IMAGE = #{empImage}
			</if>
			<if test="authority != null and authority != ''">
			, AUTHORITY = #{authority}
			</if>
			 
		WHERE
			EMP_NO = #{empNo}
	
	</update>
	
	<select id="getDepts" resultType="Department">
		SELECT * 
		FROM DEPT_TB
	</select>

	<select id="getJobs" resultType="Job">
		SELECT * 
		FROM JOB_TB
	</select>
	
	<insert id="submitNewEmp">
		INSERT INTO 
			EMP_TB(EMP_NO, USER_ID, USER_PWD, EMP_NAME, EMP_RRN_NO, EMP_IMAGE, EMP_ADDRESS, AUTHORITY, ISMANAGER, JOB_CD, DEPT_CD, EMP_EMAIL) 
			VALUES(SEQ_EMP_NO.NEXTVAL, #{userId}, #{userPwd}, #{empName}, #{empRRNNo}, #{empImage}, #{empAddress}, #{authority}, #{isManager}, #{jobCd}, #{deptCd}, #{empEmail})
	</insert>
	
</mapper>