<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Channel">
	<select id="headerChList" resultType="ChannelInfo">
		select
		    A.*, M.emp_no, E.user_id, E.emp_name
		from
		    (select I.ch_no ch_no, I.ch_name ch_name, I.ch_ex ch_ex, M.msg_date msg_date, m.msg_content msg_content
		    from ch_info_tb I join
		    (select ch_no,msg_date,msg_content from ch_msg_tb where rowid in
		    (select max(rowid) from ch_msg_tb group by ch_no)) M on I.ch_no=M.ch_no) A join ch_member_tb M on A.ch_no = M.ch_no left join emp_tb E on M.emp_no = E.emp_no
		where E.user_id = #{fromId}
	</select>
	<select id="channelListByNumber" resultType="ChannelMsg">
		select 
			M.ch_no,M.msg_no,M.user_id,M.msg_content,M.msg_date,E.emp_image
		from 
			ch_msg_tb M join emp_tb E on M.emp_no = E.emp_no
		where 
			M.ch_no = ${chNo} and M.msg_no > ${msgNo}
	</select>
	<select id="channelListByRecent" resultType="ChannelMsg">
		select 
			M.ch_no,M.msg_no,M.user_id,M.msg_content,M.msg_date,E.emp_image
		from 
			ch_msg_tb M join emp_tb E on M.emp_no = E.emp_no
		where 
			M.ch_no = ${chNo} and M.msg_no > (select max(M.msg_no) - ${msgNo} from ch_msg_tb)
	</select>
</mapper>