<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="res">
	<select id="selectConfList" resultType="conferenceroom">
	select *
	from conf_room_tb
	order by croom_size asc, croom_code
	</select>
	<insert id="confResInsert">
	insert into conf_rsvn_tb
	values(seq_confrsvn_confcode.nextval, #{empNo}, #{croomCode}, #{resEnrolldate}, #{resUseDate}, #{resReturnDate})
	<selectKey keyProperty="resCode" resultType="string" order="AFTER"> 
 		select seq_confrsvn_confcode.currval from dual
 	</selectKey>
	<!-- resCode, empNo, croomCode, resEnrolldate, resUsedate, resReturndate -->
	</insert>
	<select id="selectCarList" resultType="car">
	select *
	from car_tb
	order by car_cate asc, car_code
	</select>
	<insert id="carResInsert">
	insert into car_rsvn_tb
	values(seq_carrsvn_carcode.nextval, #{empNo}, #{carCode}, #{resEnrolldate}, #{resUseDate}, #{resReturnDate})
	<selectKey keyProperty="resCode" resultType="string" order="AFTER"> 
 		select seq_carrsvn_carcode.currval from dual
 	</selectKey>
	<!-- resCode, empNo, carCode, resEnrolldate, resUsedate, resReturndate -->
	</insert>
	<select id="selectAllConfResList" resultType="resview" parameterType="member">
	select r.croom_code "thing_code",
		   c.croom_name "thing_name",
		   c.croom_size "thing_size",
		   (r.res_returndate - r.res_usedate)*24*60 "how_long",
		   r.res_usedate "res_use_date",
		   r.res_returndate "res_return_date",
		   r.emp_no "emp_no",
		   r.res_code "res_code"
	from conf_rsvn_tb r join conf_room_tb c on r.croom_code = c.croom_code
	<where>
		<if test='isManager != "y"'> 
		    r.emp_no = #{empNo}
		</if>
		<choose>
			<when test="srchFrom != null and srchTo == ''">
				and r.res_usedate >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
			<when test="srchFrom != null and srchTo != null">
				and r.res_usedate >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
				and r.res_returndate <![CDATA[<]]>= to_date(#{srchTo}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
		</choose>
	</where>
	order by r.res_usedate desc
	</select>
	<select id="selectAllCarResList" resultType="resview" parameterType="member">
	select r.car_code "thing_code",
		   c.car_company ||'  '|| c.car_type "thing_name",
		   c.car_size "thing_size",
		   (r.res_returndate - r.res_usedate)*24*60 "how_long",
		   r.res_usedate "res_use_date",
		   r.res_returndate "res_return_date",
		   r.emp_no "emp_no",
		   r.res_code "res_code"
	from car_rsvn_tb r join car_tb c on r.car_code = c.car_code
	<where>
		<if test='isManager != "y"'> 
		    r.emp_no = #{empNo}
		</if>
		<choose>
			<when test="srchFrom != null and srchTo == ''">
			    and r.res_usedate >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
			<when test="srchFrom != null and srchTo != null">
				and r.res_usedate >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
				and r.res_returndate <![CDATA[<]]>= to_date(#{srchTo}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
		</choose>
	</where>
	order by r.res_usedate desc
	</select>
	<select id="selectAllRList" resultType="resview" parameterType="member">
	select * from
	((select * from car_rsvn_view) union (select * from conf_rsvn_view))
	<where>
		<if test='isManager != "y"'> 
		    "emp_no" = ${empNo}
		</if>
		<choose>
			<when test="srchFrom != null and srchTo == ''">
				and "res_use_date" >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
			<when test="srchFrom != null and srchTo != null">
				and "res_use_date" >= to_date(#{srchFrom}, 'YYYY-MM-DD HH24:MI:SS')
				and "res_return_date" <![CDATA[<]]>= to_date(#{srchTo}, 'YYYY-MM-DD HH24:MI:SS')
			</when>
		</choose>
	</where>
	order by "res_use_date" desc
	</select>
	<insert id="addConferenceRoom">
	insert into conf_room_tb
	values(#{croomCode}, #{croomName}, #{croomSize})
	<!-- croom_code, croom_name, croom_size -->
	</insert>
	<insert id="addCar">
	insert into car_tb
	values(
		#{carCode}, #{carCate}, #{carCompany}, #{carType}, #{carNo}, #{carSize})
	<!-- car_code, car_cate, car_type, car_no, car_size -->
	</insert>
	<select id="getNextval" resultType="_int">
	select ${seq}.nextval from dual
	</select>
	<delete id="delConf">
	
	</delete>
	<delete id="delCar">
	delete from car_tb
	where car_code = #{carCode}
	</delete>
	<select id="selectCarListEnd" resultType="car"><!-- 빌릴 수 없는 차량리스트 리턴 -->
	select distinct c.*
	from car_tb c join car_rsvn_view r on c.car_code = r."thing_code"
	where 
		 r."res_return_date" > to_date(#{resUseDate}, 'YYYY-MM-DD HH24:MI:SS') or
		 to_date(#{resReturnDate}, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<]]> r."res_use_date"
	</select>
	<delete id="delRes">
	delete from
	<choose>
		<when test="resCate == '회의실'"> conf_rsvn_tb</when>
		<when test="resCate == '법인차량'"> car_rsvn_tb </when>
	</choose>
	where res_code = ${resCode}
	</delete>
	 <insert id="confToSchedInsert" parameterType="confReservation">
	insert into sched_tb(sche_code, sche_cate, emp_no, emp_name, job_name, dept_name, sche_name, sche_start, sche_end, sche_color, sche_ex, allday_yn, res_code)
		select seq_sche_schecode.nextval, '회의실 예약', emp_no, emp_name, job_name, dept_name, croom_name, res_usedate, res_returndate, '#91d4ce', null, 'N', res_code
		from conf_rsvn_sche_trigger_view
		where res_code = ${resCode}
	</insert>
	<insert id="carToSchedInsert" parameterType="carReservation">
	insert into sched_tb(sche_code, sche_cate, emp_no, emp_name, job_name, dept_name, sche_name, sche_start, sche_end, sche_color, sche_ex, allday_yn, res_code)
		select seq_sche_schecode.nextval, '차량 예약', emp_no, emp_name, job_name, dept_name, car_name, res_usedate, res_returndate, '#45bb89', null, 'N', res_code
		from car_rsvn_sche_trigger_view
		where res_code = ${resCode}
	</insert>
	<delete id="delResToSched">
	delete from sched_tb
	where res_code = ${resCode} 
	<if test="resCate == '회의실'"> and sche_cate = '회의실 예약'</if>
	<if test="resCate == '법인차량'"> and sche_cate = '차량 예약'</if>
	</delete>
</mapper>