<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sched">
	<select id="schedList" resultType="schedule">
	select * 
	from sched_tb
	</select>
	<insert id="insertSched" parameterType="Schedule">
	insert into sched_tb
	values(
		seq_sche_schecode.nextval, #{scheCate}, #{empNo}, #{empName}, #{deptName},
		#{jobName}, #{scheName}, to_date(#{scheStart}, 'YYYY-MM-DD HH24:MI:SS'), 
		to_date(#{scheEnd}, 'YYYY-MM-DD HH24:MI:SS'), #{scheColor},#{scheEx}, #{alldayYn}
	)
	<!-- (sche_code, sche_cate, emp_no, sche_name, sche_start, sche_end, sche_color, sche_ex, allday_yn) -->
	</insert>
	<!-- <update id="update">
	update sched_tb
	set 
		sche_cate = #{scheCate},
		sche_name = #{scheName},
		sche_start = #{scheStart},
		sche_end = #{scheEnd},
		sche_color = #{scheColor},
		sche_ex = #{scheEx}
	where emp_no = #{empNo}
	</update>
	<delete id="delete">
	delete from sched_tb
	where sche_code = #{scheCode}
	</delete> -->
</mapper>