#com{
    text-align: left;
    font-size: 33px;
}
/* subNav */
.subNav::after{content:""; display:block; clear:both;}
.subNav > h3{margin:75px 0 0 0px; font-size:36px; font-weight:900; text-align: left;}
.subNav li{list-style: none; float: left; margin: 45px 45px 30px 0px; font-size: 21px; font-family: 'Noto Sans KR'; color:#999; cursor: pointer;}

.subM2{
  text-align: left;
  position: relative;
}

body {
    font-family: "Noto Sans KR";
    background-color: #ebebeb;
}
section{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
section > div {
    display: inline-block;
    width: 1200px;
    height: 100%;
    vertical-align: middle;
/*     border: 1px solid black; */
}
article > .content {
    display: inline-block;
    width: 1020px;
    height: 1080px;
    vertical-align: middle;
/*     border: 1px solid black; */
    background-color: #fefefe;
}
article > .subNav {
    display: inline-block;
    width: 1020px;
    height: 230px;
    vertical-align: middle;
}
.content > .control {
    display: inline-block;
    width: 1020px;
    height: 140px;
    vertical-align: middle;
}

/* 여기서부터 테이블 */
table {
    width: 900px;
    margin: auto;
    border-top: 4px solid #999999;
    border-collapse: collapse;
    font-size: 12pt;
}
th, td {
    border-bottom: 1px solid #999999;
    padding: 10px;
    text-align: center; 
}
table th:nth-child(4){
    width: 350px;
}
table td:nth-child(4){
    padding-left: 30px;
    text-align: left;
}
table td:nth-child(2){
    text-align: center;
}
/* 여기서부터 페이징 */
.pagination {
    padding-top: 60px;
    padding-bottom: 30px;
    display: inline-block;
}
.pagination a {
    color: #999999;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 900;
}
.pagination a.active {
    background-color: #f4ca25;
    color: #333333;
    border-radius: 50%;
    transition: background-color .3s;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 100%;
    transition: background-color .3s;
}
.pagination .arrow {
    margin-left: 100px;
    margin-right: 100px;
}

/* 여기서부터 검색창 */
.srchBar {
    padding-top: 10px;
    padding-bottom: 150px;
}
#srchWord {
    background-color: #ebebeb;
    color: #333333;
    border: 0;
    height: 34px;
    width: 350px;
    font-family: "Noto Sans KR";
    font-size: 14px;
}
.yellowBtn{
    background-color: #f4ca25;
    border: none;
    color: #333333;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
   
}

/* 여기서부터 select-box */
.select-box {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-weight: 800;
    color: #333333;
    margin-top: 50px;
    height: 250px;
  
  }
  @media (min-width: 110px) {
    .select-box {
      width: 200px;
      margin-right: 80px;
      height: 300px;
     
    }
    #first{
      width: 375px;
      text-align: left;
      height: 200px;
    }
  }
  .select-box__current {
    width: 100%;
    float: none;
    border: 2px solid #999999;
    border-radius: 5%;
    cursor: pointer;
    outline: none;
    height: 50px;
  }
  .select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
  }
  .select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
  .select-box__icon {
    position: absolute;
    float: left;
    top: 20px;
    right: 16px;
    margin-top: 5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 13px;
    opacity: 0.3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    z-index: 101;
  }
  .select-box__value {
    display: -webkit-box;
    display: flex;
  }
  .select-box__input {
    display: none;
  }
  .select-box__input:checked + .select-box__input-text {
    display: block;
  }
  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 7px;
    padding-right: 20px;
    background-color: #fefefe;
    padding-top: 11px;
    padding-bottom: 15px;
  }
  .select-box__list {
    position: absolute;
    width: 100%;
    height: 200px;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 100;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
  }
  .select-box__option {
    display: block;
    padding: 5px;
    background-color: #fefefe;
  }
  .select-box__option:hover, .select-box__option:focus {
    color: #333333;
    background-color: #ebebeb;
  }
  #boardBtn{
    height: 60PX;
    width: 145px;
    font-size: 20PX;
  }
  
  @-webkit-keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
  