.control {
 margin-top: 0px;
}

.content>.control{
	margin-top:0;
}

.board:nth-child(1) > tbody:nth-child(1) {
 position: relative;
 top: -295px;
}

.empLogView {
 position: relative;
 top: 15px;
}

.number {
 position: relative;
 left: -0.4375px;
}

.workingdays {
 width: 172px;
 position: relative;
 left: -36.2344px;
}

h2:nth-child(1) {
 position: relative;
 left: 14.6562px;
}

#timepicker-start {
 height: 31px;
}

#timepicker-end {
 height: 31px;
}

.board th, .board td{
    width: 70%;
}
.empLogView {
	width : 600px; 	
}
table th:nth-child(3){
    width: -webkit-fill-available;
}
table td:nth-child(3){
    padding-left: 7px;
    text-align: center;
}
table td:nth-child(2){
    text-align: center;
}
.emp {
	margin-left : 40px;
	width : 160px;
	height : 365px;
}
.emp li:first-child {
	font-size: 24px;
}
.emp p {
	font-size : 57px;
}
.emp li {
	font-size: 19px; 
}

.emp li {
    margin-top: -4px;
}

.empName {
    margin-bottom: 0;
}

h2.workingdays{
    margin-left: 50px;
}

.number{
    font-size: xx-large;
}

li.deptAndJob{
    font-size: 1.3em;
}
