body {
    font-family: "Noto Sans KR";
    background-color: #ebebeb;
}
section{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
section > div {
    display: inline-block;
    width: 1200px;
    height: 100%;
    vertical-align: middle;
 
}
article > .content {
    display: inline-block;
    width: 1020px;
    height: 100%;
    vertical-align: middle;
 
    background-color: #fefefe;
}
article > .subNav {
    display: inline-block;
    width: 1020px;
	height: 230px;
    vertical-align: middle;
    
}
.content > .control {
    display: inline-block;
    width: 1020px;
    height: 140px;
    vertical-align: middle;
   
}
.h3title{
 float: left;
 margin-left: 55px;
 font-size: 25px;
 margin-top: 40px;
}

.h4title{
  float: left;
  margin-left: -220px;
  color: gray;
}

.h4title2{
  margin-left: -840px;
  color: gray;
}

/* subNav */
.subNav::after{content:""; display:block; clear:both;}
.subNav > h3{margin:75px 0 0 0px; font-size:36px; font-weight:900; text-align: left;}
.subNav li{list-style: none; float: left; margin: 45px 45px 30px 0px; font-size: 21px; font-family: 'Noto Sans KR'; color:#999; cursor: pointer;}

/* 여기서부터 테이블 */
table {
    width: 900px;
    margin: auto;
    border-top: 4px solid #999999;
    border-collapse: collapse;
    font-size: 12pt;
}
#usedvct{
  border-bottom: none;
  padding: none;
}

#vct_th{
 padding: 0px;
}

#vct_tr{
 padding: 0px;
 background: #ebebeb;
}
th, td {
    border-bottom: 1px solid #999999;
    padding: 10px;
}
table td:nth-child(3){
    padding-left: 30px;
    text-align: center;
}
table td:nth-child(2){
    text-align: center;
}
/* 여기서부터 페이징 */
.pagination {
    padding-top: 30px;
    display: inline-block;
}
.pagination a {
    color: #999999;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 900;
}
.pagination a.active {
    background-color: #f4ca25;
    color: #333333;
    border-radius: 50%;
    transition: background-color .3s;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 100%;
    transition: background-color .3s;
}
.pagination .arrow {
    margin-left: 100px;
    margin-right: 100px;
}

/* 여기서부터 검색창 */
.srchBar {
    padding-top: 10px;
    padding-bottom: 150px;
}
#srchWord {
    background-color: #ebebeb;
    color: #333333;
    border: 0;
    height: 34px;
    width: 230px;
    font-family: "Noto Sans KR";
    font-size: 14px;
}
.yellowBtn{
    background-color: #f4ca25;
    border: none;
    color: #333333;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

/* 여기서부터 select-box */
.select-box {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-weight: 800;
    color: #333333;
  }
  @media (min-width: 110px) {
    .select-box {
      width: 110px;
    }
  }
  .select-box__current {
    position: relative;
    border: 2px solid #999999;
    border-radius: 5%;
    cursor: pointer;
    outline: none;
  }
  .select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
  }
  .select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
  .select-box__icon {
    position: absolute;
    top: 50%;
    right: 7px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 13px;
    opacity: 0.3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .select-box__value {
    display: -webkit-box;
    display: flex;
  }
  .select-box__input {
    display: none;
  }
  .select-box__input:checked + .select-box__input-text {
    display: block;
  }
  .select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 7px;
    padding-right: 20px;
    background-color: #fefefe;
  }
  .select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
  }
  .select-box__option {
    display: block;
    padding: 5px;
    background-color: #fefefe;
  }
  .select-box__option:hover, .select-box__option:focus {
    color: #333333;
    background-color: #ebebeb;
  }
 /*버튼*/
  .penbutton{
    font-size:24px; background-color:white;
     color:gray; border:white; cursor: pointer;
  }

  .penbutton:hover{
    color: black;
  }

  #btnBox{
    width: 105px;
    margin-top: 80px;
    height: 35px;
    border: solid gray 2px;
    margin-left: 850px;


  }
  #yearcheck{
    float: left;
    margin-left: 0;
    width: 80px;
    border: white;
    height: 30px;
    text-align: center;
    font-size: 15px;
  }
  #upYearcheck{
    float: left;
    width: 25px;
    height: 17px;
    color: gray;
    background: white;
    border: white;
    cursor: pointer;
  }

  #upYearcheck:hover{
    color: black;
  }

  #downYearcheck{
    float:left;
    width: 25px;
    height:17px;
    margin-top:18px;
    margin-left:-25px;
    color: gray;
    background: white;
    border: white;
    cursor: pointer;
  }

  #downYearcheck:hover{
    color: black;
  }
  #vacationcheck{
    float:right;
    margin-right:60px;
  }

  .upQtyBtn{
    background-color: #ebebeb;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid #ebebeb;
    color: black;
    margin-left: 70px;
    font: bold;
    font-size: 20px;
    cursor: pointer;
  }

  .upQtyBtn:hover{
    background-color: orange;
    color: white;
    border: solid orange;
  }

  .downQtyBtn{
    background-color: #ebebeb;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid #ebebeb;
    color: black;
    font: bold;
    font-size: 20px;
    cursor: pointer;
  }

  .downQtyBtn:hover{
    background-color: orange;
    color: white;
    border: solid orange;
  }

  #Qty{
    width: 70px;
    text-align: center;
    border: solid white;
    font-size: 20px;
    font: bold;
  }
  /*nav*/
  #vct_title{
    float: left;
    margin-top: 70px;
    font-size: 30px;
    position: relative;
  }
  #vct_nav{
   position: absolute;
   margin-top: 140px;
  }
  #vct_li{
    float: left;
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    font: bold;
    cursor: pointer;
   
  }
  #vct_li a:link{
    color: gray; text-decoration: none;
  }
  #vct_li a:visited{
    color:gray; text-decoration: none;
  }

  #vct_li a:hover{
    color:black; text-decoration: none;
  }
  #vct_li2{
    float: left;
    list-style: none;
    display: inline;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  #vct_li2 a:link{
    color: gray; text-decoration: none;
  }
  #vct_li2 a:visited{
    color:gray; text-decoration: none;
  }

  #vct_li2 a:hover{
    color:black; text-decoration: none;
  }
  /*휴가내역*/
  #vacationcheck{
    width: 200px;
    height: 40px;
    background: white;
    border: solid gray;
    color: gray;
    font-weight: bold;
    position: relative;
    margin-top: -40px;
    cursor: pointer;
  }

  #vacationcheck:hover{
    color: black;
    border: solid black;
  }

  /*modal*/
  .checkbox.custom {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="radio"].custom {
    margin-left: 0;
    padding: 0;
  }
  
  input[type=radio].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0;
  }
  

  input[type=radio].css-checkbox+label.css-label-red,
  input[type=radio].css-checkbox+label.css-label-yellow{
    padding-left: 40px;
    height: 30px;
    margin-left: 40px;
    display: inline-block;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
  }
  

  input[type=radio].css-checkbox+label.css-label-red:hover,
  input[type=radio].css-checkbox+label.css-label-yellow:hover{
  /*   opacity: 0.5; */ /* 선택적 사용 */
  }
  

  input[type=radio].css-checkbox:checked+label.css-label-red,
  input[type=radio].css-checkbox:checked+label.css-label-yellow {
    background-position: 0 -30px;
  }
  
  
  .css-label-red {
    background-image: url(http://codeopus.net/file/blog/check3.png);
    background-size: 30px;
  }
  
  .css-label-yellow {
    background-image: url(http://codeopus.net/file/blog/check3.png);
    background-size: 30px;
  }
  
  #bookid{
    width: 300px;
    height: 100px;
    background-color: #ebebeb;
    color: gray;
    margin-left: 120px;
    margin-top: -35px;
    font-size: 12px;
   
  }

  #bookid p{
    margin-left: 10px;
  }

  .modaltb{
    border: solid gray;
    width: 450px;
    font-size: 10px;
    overflow: auto;
  }
  
  .modaltr{
    background-color: #ebebeb;
  }

  .modalth1{
    width: 40px;
    text-align: center;
  }

  .modalth2{
    width: 50px;
    text-align: center;
  }

  .modalth3{
    width: 250px;
    text-align: center;
  }

  .modalth4{
    width: 100px;
    text-align: center;
  }
  
  #modalsub{
    background-color: white;
    color: gray;
    border: solid 1px gray;
    width: 60px;
    margin-left: 140px;
    cursor: pointer;
  }

  #modalsub:hover{
    background-color: gray;
    color: white;
  }

  #modalclo{
    background-color: white;
    color: gray;
    border: solid 1px gray;
    width: 60px;
    margin-left: 50px;
    cursor: pointer;
  }

  #modalclo:hover{
    background-color: gray;
    color: white;
  }
  
  @-webkit-keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
  }
  