<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edoc">


	<select id="jstree" resultType="jstree">
		select * from jstree_view
	</select>

	<select id="jstreeMem" resultType="jstreeMem">
		select
		*
		from
		emp_tb
		join job_tb using(job_cd)
		join dept_tb using(dept_cd)
		where
		emp_no = ${empNo}
	</select>

	<select id="srchList" resultMap="EdocSrchFlowCollection">
		select
		*
		from
		edoc_srch_view
		<where>
			<if test="srchType == 'all'">
				(edoc_title like '%' || #{srchWord} || '%'
				or
				emp_name like
				'%' || #{srchWord} || '%'
				or
				form_nm like '%' || #{srchWord} || '%'
				or
				edoc_id like '%' || #{srchWord} || '%')
				and edoc_end = 'Y'
			</if>
			<if test="srchType != 'all'">
				${srchType} like '%' || #{srchWord} || '%'
				and edoc_end ='Y'
			</if>
		</where>
		order by edoc_dt desc
	</select>
	<select id="selectEdocTotalContents" resultType="_int">
		select
		count(DISTINCT edoc_id)
		from
		(select
		*
		from
		edoc_srch_view
		<where>
			<if test="srchType == 'all'">
				(edoc_title like '%' || #{srchWord} || '%'
				or
				emp_name like
				'%' || #{srchWord} || '%'
				or
				form_nm like '%' || #{srchWord} || '%'
				or
				edoc_id like '%' || #{srchWord} || '%')
				and edoc_end = 'Y'
			</if>
			<if test="srchType != 'all'">
				${srchType} like '%' || #{srchWord} || '%'
				and edoc_end ='Y'
			</if>
		</where>
		order by edoc_dt desc)
	</select>

	<select id="myList" resultMap="EdocSrchFlowCollection">
			select *
			from
			(
			<if test='myDocu == "y"'>
			select * from edoc_all_tb
			where 
				emp_no = ${empNo}
				and flow_ord = 1
				and flow_cd in ('F1', 'F2')
				and edoc_end is NULL
			</if>
			<if test='reqDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where (flow_st is null or flow_st = 'N') and flow_cd in ('F1','F2')) A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						(flow_st is null or flow_st = 'N') and flow_cd in ('F1','F2'))group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='coopDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where (flow_st is null or flow_st = 'N') and flow_cd ='F3') A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						(flow_st is null or flow_st = 'N') and flow_cd = 'F3') group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='compDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where flow_st = 'Y' and flow_cd in ('F1','F2','F3')) A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						flow_st = 'Y' and flow_cd in ('F1','F2','F3')) group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='refDocu == "y"'>
			select * from edoc_all_tb
			where 
				flow_emp_no = ${empNo}
				and flow_cd = 'F4'
			</if>
			)
			<where>
				<if test="srchType == 'all'">
					edoc_title like '%' || #{srchWord} || '%'
					or
					emp_name like '%' || #{srchWord} || '%'
					or
					form_nm like '%' || #{srchWord} || '%'
					or
					edoc_id like '%' || #{srchWord} || '%'
				</if>
				<if test="srchType != 'all'">
					${srchType} like '%' || #{srchWord} || '%'
				</if>
			</where>
			order by edoc_dt desc
	</select>
	<select id="selectMyEdocTotalContents" resultType="_int">
		select
		count(DISTINCT edoc_id)
		from
		(
					select *
			from
			(
			<if test='myDocu == "y"'>
			select * from edoc_all_tb
			where 
				emp_no = ${empNo}
				and flow_ord = 1
				and flow_cd in ('F1', 'F2')
				and edoc_end is NULL
			</if>
			<if test='reqDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where (flow_st is null or flow_st = 'N') and flow_cd in ('F1','F2')) A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						(flow_st is null or flow_st = 'N') and flow_cd in ('F1','F2'))group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='coopDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where (flow_st is null or flow_st = 'N') and flow_cd ='F3') A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						(flow_st is null or flow_st = 'N') and flow_cd = 'F3') group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='compDocu == "y"'>
			select
				A.edoc_id, A.secu_cd, A.prsv_cd, A.emp_no, A.emp_mod_no, A.edoc_title, A.edoc_ver, A.edoc_org_id, A.edoc_dt, A.edoc_end, A.edoc_end_dt, A.type_cd, A.form_nm, A.prsv_amt, A.secu_nm, A.emp_name, A.flow_exe_no, A.flow_cd, A.flow_nm, A.flow_emp_no, A.flow_ord, A.flow_st
			from
				(select
					*
				from
					edoc_all_tb where flow_st = 'Y' and flow_cd in ('F1','F2','F3')) A
					join
					(select
						edoc_id, min(flow_ord) flow_ord
					from
					(select * from edoc_all_tb
					where
						flow_st = 'Y' and flow_cd in ('F1','F2','F3')) group by edoc_id) B
					 	on A.edoc_id = B.edoc_id and A.flow_ord = B.flow_ord
		 	where
		 		flow_emp_no = ${empNo}
			</if>
			<if test='refDocu == "y"'>
			select * from edoc_all_tb
			where 
				flow_emp_no = ${empNo}
				and flow_cd = 'F4'
			</if>
			)
			<where>
				<if test="srchType == 'all'">
					edoc_title like '%' || #{srchWord} || '%'
					or
					emp_name like '%' || #{srchWord} || '%'
					or
					form_nm like '%' || #{srchWord} || '%'
					or
					edoc_id like '%' || #{srchWord} || '%'
				</if>
				<if test="srchType != 'all'">
					${srchType} like '%' || #{srchWord} || '%'
				</if>
			</where>
			order by edoc_dt desc
		)
	</select>

	<select id="newEdocId" resultType="string">
		select
		'E'||to_char(sysdate,'yymmdd')||'-'||seq_edoc_id.NEXTVAL
		from
		dual
	</select>
	<insert id="edocWrite">
		{call
		declare
		begin
			insert
			into
				edoc_tb
			values
				(#{edocId}, #{secuCd},#{prsvCd}, #{empNo}, NULL, #{edocTitle}, 0, NULL, sysdate, NULL, NULL);
			insert
			into
				leave_ltt_tb
			values
				(#{edocId}, #{vctnCd}, to_date(#{startDt}, 'YYYY-MM-DD HH24:MI:SS'),to_date(#{endDt}, 'YYYY-MM-DD HH24:MI:SS'), #{leaveAmt}, #{leavePurpose}, #{leaveContact}, #{typeCd}, ${surEmpNo} );
			commit;
		end
		}
	</insert>
	<insert id="edocAttWrite">
		insert into
		edoc_att_tb
		values
		(seq_attach_id.NEXTVAL, #{edocId}, #{originFilename}, #{renamedFilename}, sysdate, NULL,
		NULL, NULL)
	</insert>
	<insert id="edocFlowWrite">
		insert into flow_exe_tb values(#{edocId}, #{flowCd},
		#{flowEmpNo}, #{flowOrd}, default, default, default, seq_flow_exe_no.NEXTVAL)
	</insert>
	<insert id="pdfAttWrite">
		insert into
		edoc_att_tb
		values
		(seq_attach_id.NEXTVAL, #{edocId}, #{originFilename}, #{renamedFilename}, sysdate, NULL,
		NULL, 'Y')
		<selectKey keyProperty="attachId" resultType="string" order="AFTER">
			select seq_attach_id.currval from dual
		</selectKey>
	</insert>
	<select id="selectPdf" resultType="EdocAtt">	
		select
			*
		from
			edoc_att_tb
		where
			attach_id = #{attachId}
	</select>
	<delete id="deleteEdocPdfSt">
		delete from edoc_att_tb where edoc_pdf_st = 'Y'
	</delete>
	<select id="selectEdocLeaveLtt" resultType="EdocLeaveLtt">
		select * from leave_ltt_view where edoc_id = #{edocId}
	</select>
	<select id="selectEdocFlowList" resultType="EdocFlow">
		select edoc_id, flow_cd, emp_no flow_emp_no, emp_name flow_nm, flow_ord, flow_st, flow_cmt, flow_dt from flow_exe_tb join emp_tb using(emp_no) where edoc_id = #{edoc_id} order by flow_ord desc
	</select>
	<select id="selectEdocAttList" resultType="EdocAtt">
		select * from edoc_att_tb where edoc_id = #{edocId}
	</select>
	<select id="selectEdocFlowExList" resultType="EdocFlowEx">
		select * from edoc_flow_ex_view where edoc_id = #{edoc_id}
	</select>
	<update id="updateFlowExe">
		update flow_exe_tb
		set
			flow_st = #{flowSt},
			flow_cmt = #{flowCmt},
			flow_dt = sysdate
		where
			edoc_id = #{edocId}
			and
			flow_cd = #{flowCd}
			and
			emp_no = ${flowEmpNo}
	</update>
	<select id="countSt" resultType="_int">
		select
			count(*)
		from
			flow_exe_tb
		where
			edoc_id = #{edocId}
			and
			(flow_cd = 'F1' or flow_cd = 'F2')
			and
			(flow_st is null or flow_st = 'N')
	
	</select>
	<update id="updateEdocSt">
		update edoc_tb
		set
			edoc_end = 'Y',
			edoc_end_dt = sysdate
		where
			edoc_id = #{edocId}
	</update>
	
	<!-- 직원 이름 검색 -->
	<select id="selectNameSrch" resultType="orgChart">
		SELECT EMP_NO, USER_ID, EMP_NAME, D.DEPT_NAME, J.JOB_NAME
		FROM EMP_TB E 
		    LEFT JOIN DEPT_TB D
		        USING (DEPT_CD)
		    LEFT JOIN JOB_TB J
		        USING (JOB_CD)
	</select>
	
	<select id="selectEdocWelcome" resultType="edocSrch">
	select
		rownum, A.*
	from
		(select
			distinct edoc_id, emp_name, form_nm, edoc_title, edoc_end_dt
		from
			edoc_all_tb
		where
			edoc_end = 'Y'
		order by edoc_end_dt desc) A
	where rownum <![CDATA[<]]> 7
	</select>
	
	
	<resultMap type="EdocSrch" id="EdocSrchFlowCollection">
		<id column="edoc_id" property="edocId" />
		<result column="secu_cd" property="secuCd" />
		<result column="prsv_cd" property="prsvCd" />
		<result column="emp_no" property="empNo" />
		<result column="emp_mod_no" property="empModNo" />
		<result column="edoc_title" property="edocTitle" />
		<result column="edoc_ver" property="edocVer" />
		<result column="edoc_org_id" property="edocOrgId" />
		<result column="edoc_dt" property="edocDt" />
		<result column="edoc_end" property="edocEnd" />
		<result column="edoc_end_dt" property="edocEndDt" />
		<result column="type_cd" property="typeCd" />
		<result column="form_nm" property="formNm" />
		<result column="prsv_amt" property="prsvAmt" />
		<result column="secu_nm" property="secuNm" />
		<result column="emp_name" property="empName" />
		<collection property="edocFlowList" ofType="EdocFlow">
			<id column="edoc_id" property="edocId" />
			<result column="flow_cd" property="flowCd" />
			<result column="flow_nm" property="flowNm" />
			<result column="flow_emp_no" property="flowEmpNo" />
			<result column="flow_ord" property="flowOrd" />
			<result column="flow_st" property="flowSt" />
		</collection>
	</resultMap>


</mapper>